<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.GoodsdetailsMapper">
  <resultMap id="BaseResultMap" type="com.bean.Goodsdetails">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="pictures" jdbcType="VARCHAR" property="pictures" />
  </resultMap>
  <sql id="Base_Column_List">
    id, introduction, pictures
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goodsdetails
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from goodsdetails
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.bean.Goodsdetails" useGeneratedKeys="true">
    insert into goodsdetails (introduction, pictures)
    values (#{introduction,jdbcType=VARCHAR}, #{pictures,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.bean.Goodsdetails" useGeneratedKeys="true">
    insert into goodsdetails
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="introduction != null">
        introduction,
      </if>
      <if test="pictures != null">
        pictures,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="introduction != null">
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="pictures != null">
        #{pictures,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.Goodsdetails">
    update goodsdetails
    <set>
      <if test="introduction != null">
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="pictures != null">
        pictures = #{pictures,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.Goodsdetails">
    update goodsdetails
    set introduction = #{introduction,jdbcType=VARCHAR},
      pictures = #{pictures,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>